@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Estilos para el menú */
.menu {
    position: relative;
    display: inline-block;
    font-size: 20px;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu:hover .menu-content {
    display: block;
}
.menu-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}
.menu-item:hover {
    background-color: rgb(255, 255, 158);
}
#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
    display: none;
}
.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color:var(--white);
    font-size: 1.1rem;
    padding:1rem 3rem;
    cursor: pointer;
}
.btn:hover{
    background: var(--main-color);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /*text-transform: capitalize;*/
}
:root{
    --main-color:rgb(43, 106, 201);
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--white);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
section{
    padding:5rem 10%;
}

/*.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom:15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}*/
.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom:15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.heading h1{
    font-size: 8rem;
    text-transform: uppercase;
    color:var(--white);
    text-shadow: var(--text-shadow);
    margin: 0;
    margin-bottom: 200px;
}**/
.heading h1{
    font-size: 8rem;
    text-transform: uppercase;
    color:var(--white);
    text-shadow: var(--text-shadow);
}
.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:var(--black);
 }
.header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    font-size: 0.1rem;
    color:var(--black);
}

/* Estilo Barra Busqueda */
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="text"],
select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}

/* Estilos para las opciones de categoría */
.categoria-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
}
/* Estilos para los contenedores de lugares */
.lugar {
    display: block;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}
.lugar h2{
    font-size: 20px;
}
.lugar p{
    font-size: 12px;
}

/*Estilos Pie de Pagina*/
.footer{
    background: url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -200px;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}
.footer .box-container .box h3{
    color:var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.footer .box-container .box a{
    color:var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}
.footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color:var(--white);
}
.footer .credit span{
    color:var(--main-color);
}

/* media queries and keyframes*/
@keyframes fadeIn {
    0%{
       transform: scale(0);
       opacity: 0;
    }
}
@media (max-width:1200px){
    section{
       padding:3rem 5%;
    }
}
@media (max-width:991px){
    html{
       font-size: 55%;
    }
    section{
       padding:3rem 2rem;
    }
    .home .slide .content h3{
       font-size: 10vw;
    }
}
@media (max-width:768px){
    .heading h1{
       font-size: 4rem;
    } 
    #menu-btn{
       display: inline-block;
       transition: .2s linear;
    }
    #menu-btn.fa-times{
       transform: rotate(180deg);
    }
    .header .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: var(--white);
       border-top: var(--border);
       padding:2rem;
       transition: .2s linear;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } 
    .header .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
       display: block;
       margin:2rem;
       text-align: center;
    }
}
@media (max-width:450px){
    html{
       font-size: 50%;
    }
    .heading-title{
       font-size: 3.5rem;
    }
}